<div class="container" style="float:left;margin-top:50px;">
  <div class="row">
    <div class="col-md-12">
      <table>
        <tr>
          <td colspan="3" class="divlisthead">{{Glist.listType}}</td>
        </tr>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>{{Glist.itemName}}</td>
          <td>{{Glist.itemDesc}}</td>
          <td>{{Glist.itemPrice}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>